.app {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.app-content {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}
